.App {
  text-align: center;
}


::-webkit-scrollbar {
  display: none;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background {
  background-color: 	#ffffff;
}

.general-text {
  color: ivory;
  font-family: "Monaco", "Courier New", monospace;
}



.navbar-color {
  background-color: #6633FF;
}

/* .button {
  color: #6633FF;
  border-color: #6633FF;
  background-color: transparent;
  width: 60px;
  height: 40px;
  margin: 5px;
}


.button:hover {
  background-color:#6633FF;
  border-color: #6633FF;
  transition: 0.4s;
} */

.TabItem.Mui-selected {
  color: #6633FF;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
